PORT=3000
FLASK_API_URL=http://localhost:5000
SESSION_SECRET=your session secret
LOG_LEVEL=info

OTEL_SERVICE_NAME=logbeacon-frontend
OTEL_TRACES_EXPORTER=console
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none
OTEL_NODE_RESOURCE_DETECTORS=env,host,os

NODE_OPTIONS="--experimental-loader=@opentelemetry/instrumentation/hook.mjs --import @opentelemetry/auto-instrumentations-node/register"