DATABASE_URL="your database url"
SQLALCHEMY_TRACK_MODIFICATIONS="default=False"
REDIS_URL="redis server url"
SECRET_KEY="put a secret key"
GROQ_API_KEY="your groq account key"
GROQ_MODEL="your groq model that you like to pick"
CHAT_RETENTION_DAYS="How many days do want your data to be sotre in groq"
MAX_ERROR_LENGTH="maxium number of error length you wanna put"
PRICE_PER_MILLION_TOKENS="put the price for the token"
