# Backend env
SQLALCHEMY_TRACK_MODIFICATIONS=False
SECRET_KEY=your secret key
GROQ_API_KEY=groq api key
GROQ_MODEL=groq model
CHAT_RETENTION_DAYS=10
MAX_ERROR_LENGTH=2000
PRICE_PER_MILLION_TOKENS=0.05
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your email
SMTP_PASSWORD=email app password
FROM_EMAIL=your email

# Frontend env
PORT=3000
SESSION_SECRET=your secret

# Postgresql env
POSTGRES_USER=database user
POSTGRES_PASSWORD=datase password
POSTGRES_DB=database name

