# Backend env
SQLALCHEMY_TRACK_MODIFICATIONS=False
SECRET_KEY=your secret key
GROQ_API_KEY=groq api key
GROQ_MODEL=groq model
LOG_RETENTION_DAYS=10
MAX_ERROR_LENGTH=2000
PRICE_PER_MILLION_TOKENS=0.05
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your email
SMTP_PASSWORD=email app password
FROM_EMAIL=your email

# Frontend env
PORT=3000
SESSION_SECRET=your secret
LOG_LEVEL=info

# Postgresql env
POSTGRES_USER=database user
POSTGRES_PASSWORD=datase password
POSTGRES_DB=database name



#----------------------------------------------------------
# Observability env
#----------------------------------------------------------
GRAFANA_ADMIN_PASSWORD=yourpass

# Frontend
FRONTEND_OTEL_SERVICE_NAME=logbeacon-frontend
FRONTEND_OTEL_TRACES_EXPORTER=otlp
FRONTEND_OTEL_METRICS_EXPORTER=otlp
FRONTEND_OTEL_LOGS_EXPORTER=otlp
FRONTEND_OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
FRONTEND_OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
FRONTEND_OTEL_NODE_RESOURCE_DETECTORS=env,host,os,process
FRONTEND_NODE_OPTIONS="--experimental-loader=@opentelemetry/instrumentation/hook.mjs --import @opentelemetry/auto-instrumentations-node/register"

# Backend
BACKEND_OTEL_SERVICE_NAME=logbeacon-backend
BACKEND_OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
BACKEND_OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
BACKEND_OTEL_TRACES_EXPORTER=otlp
BACKEND_OTEL_METRICS_EXPORTER=otlp
BACKEND_OTEL_LOGS_EXPORTER=otlp
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true    # ships your logger calls
OTEL_PYTHON_DISABLED_INSTRUMENTATIONS=psycopg2  

